<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Projeto Django</title>
    <!-- Adicione aqui suas folhas de estilo CSS -->
</head>
<body>
    <header>
        <!-- Aqui você pode adicionar o cabeçalho do seu site -->
    </header>

    <nav>
        <!-- Aqui você pode adicionar a navegação do seu site -->
    </nav>

    <main>
        {% block content %}
        <!-- O conteúdo específico de cada página será inserido aqui -->
        {% endblock content %}
    </main>

    <footer>
        <!-- Aqui você pode adicionar o rodapé do seu site -->
    </footer>

    <!-- Adicione aqui seus scripts JavaScript -->
</body>
</html>
