<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Agendamentos</title>
</head>
<body>
    <h1>Listagem de Agendamentos</h1>
    <ul>
        {% for agendamento in agendamentos %}
            <li>
                <strong>Cliente:</strong> {{ agendamento.cliente.nome }}<br>
                <strong>Serviços:</strong> {% for servico in agendamento.servicos.all %}{{ servico.nome }}, {% endfor %}<br>
                <strong>Data e Hora:</strong> {{ agendamento.data_hora|date:"d/m/Y H:i" }}<br>
                <strong>Confirmado:</strong> {% if agendamento.confirmado %}Sim{% else %}Não{% endif %}<br>
                <a href="{% url 'alterar_agendamento' agendamento.id %}">Alterar</a>
            </li>
        {% endfor %}
    </ul>
    
    {% if user.is_authenticated %}
        <a href="{% url 'criar_agendamento' %}">Criar Agendamento</a>
        <a href="{% url 'listar_agendamentos' %}">Listar Agendamentos</a>
    {% endif %}
    
     <a href="{% url 'pagina_inicial' %}">Página Inicial</a>
</body>
</html>
