<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Serviços</title>
</head>
<body>
    <h1>Lista de Serviços</h1>
    <ul>
        {% for servico in servicos %}
            <li>
                <strong>{{ servico.nome }}</strong> - Preço: R$ {{ servico.preco }}
                <br>
                {{ servico.descricao }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'calcular_total_servicos' %}">Calcular Total de Preços</a>
</body>
</html>
